.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: .1rem;
  padding: 2rem;
  height: 200px;
  border-radius: 1rem;
  background-color: #363636;
  border: solid;
  border-width: 2px;
  border-color: var(--primary-color);
  width: 350px;
}

@media (max-width: 720px) {
  .card-container {
    width: 270px;
  }
}