.section-container {
  padding: 3rem;
  margin: 2rem;
}

.section-me {
  border-right: solid;
  border-right-width: 1px;
  border-right-color: var(--primary-color);
  min-width: 18rem;
  .profile-container {
    padding-bottom: 1rem;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--primary-color);
    img {
      border: solid;
      border-radius: 100%;
      border-width: 2px;
      border-color: var(--primary-color);
      box-shadow: 0px 0px 10px var(--primary-color);    
    }
  }
}

.section-test {
  padding: 0;
  padding-right: 2rem;
  text-align: left;
}

.icon-container-link {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.my-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .ul-links {
    padding: 1rem;
    max-width: 250px;
    a {
      padding-left: 4rem;
      padding-right: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
      }
    }
  }
}

.button-style {
  padding: 0;
  padding-left: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(168deg, rgb(72, 72, 72) 20%, var(--primary-color) 120%);
  cursor: pointer;
  transition: border-color 0.25s;
  height: 3.5rem;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  &:hover {
    border-color: var(--primary-color);
    background: linear-gradient(168deg, rgb(17, 17, 17) 20%, var(--primary-hover-color) 120%);
  }
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (max-width: 1080px) {
  .about-container{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .section-me {
      width: 100%;
      border: none;
      .profile-container {
        border: none;
      }
    }
    .section-test {
      border-top: solid;
      border-top-color: var(--primary-color);
    }
  }
}
