:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  
  padding-left: 90px;
  padding-right: 90px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);
  background: linear-gradient(168deg, rgb(72, 72, 72) 20%, var(--primary-color) 120%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #8d64ff;
  --primary-hover-color: #9053f2;
  --primary-background-color: #242424;
}

@media (max-width: 1080px) {
  :root {
    padding: 0;
  }
}