.pagination-container {
  background-color: var(--primary-background-color);
  backdrop-filter: blur(10px);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-buttons {
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

button {
  border-color: var(--primary-color);
  margin: .1rem;
}

.pag-button {
  padding: .4rem;
  font-size: 12px;
}