.nav-container {
  display: none;
}

.nav-menu-ul {
  background-color: #171717b7;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 4.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
  overflow: visible;
}

input {
  height: 1.6rem;
}

.search-button {
  background-color: var(--primary-color);
  transition-duration: .4s;
}

.search-button:hover {
  background-color: var(--primary-hover-color);
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.burger-menu-container {
  display: none;
  width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  img {
    cursor: pointer;
    display: none;
  }
}

.close-menu-container {
  display: none;
  span:hover {
    cursor: pointer;
  }
}

@media (max-width: 1080px) {
  .nav-container {
    display: block;
    width: 100vw;
    position: fixed;
  }

  .menu-container {
    display: none;
    flex-direction: column;
  }

  .searcher-container {
    display: none;
  }

  .nav-menu-ul {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: hidden;
    transition: 1s;
  }
  
  .burger-menu-container {
    display: flex;
    img {
      display: block;
    }
  }

  .nav-container {
    top: -1rem;
  }
}