.router-link{
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 50px;
  width: 50px;
  background-image: url(../../../../assets/png/logout-icon.png);
  background-size: cover;
  opacity: .3;
  transition-duration: .4s;
}

.router-link:hover {
  border-color: var(--primary-color);
  opacity: .6;
}
.router-link:focus,
.router-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
