.router-link{
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(168deg, rgb(72, 72, 72) 20%, var(--primary-color) 120%);
  cursor: pointer;
  transition: border-color 0.25s;
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  transition-duration: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 45px;
    height: 45px;
  }
}

.router-link:hover {
  border-color: var(--primary-color);
  background: linear-gradient(168deg, rgb(17, 17, 17) 20%, var(--primary-hover-color) 120%);
}
.router-link:focus,
.router-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
