
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-left: 45px;
  padding-right: 45px;
}

.grid-item {
  padding: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1080px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}