.main-container {
  margin-top: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-left: 90px;
  padding-right: 90px;
}

.grid-item {
  padding: 20px;
}

@media (max-width: 1080px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}